#prizecontainer{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #020f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#confetti-canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}
.prizescontent{
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.prizetitle{
    color: aquamarine;
    font-size:30px;
    font-weight: bold;
    font-family: "StateWide",sans-serif;
    /* margin-bottom: 15vh; */
    text-shadow: rgb(230, 230, 230) 0px 0px 5px;
}
.prizes{
    padding: 5%;
    display: flex;
    justify-content: center;
    gap: 6%;
}
img{
    /* outline: 1px solid lime; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.prize{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricetag{
    color: grey;
    font-size: 30px;
    font-weight: bold;
    font-family: Poppins;
}
.second{
    transform: scale(0.8);
}
.third{
    transform: scale(0.65);
}
.prizes div img{
    width: 250px;
    object-fit: cover;
}

/* media queries */
@media screen and (max-width:852px){
    .prizes{
        /* max-width: 100%; */
        /* gap: 0%; */
        padding: 0%;
        padding-top: 6%;
    }

    .prizecontent{
        /* width: 90%; */
    }
}
@media screen and (max-width:788px){
    .prizes{
        flex-direction: column;
    }
    #prizecontainer{
        height: auto;
        min-height: 100vh;
        padding-top: 60px;
        padding-bottom: 50px;
    }
}
