.sponsorscontainer{
    width: 100%;
    background:linear-gradient(to bottom, black, #0b0b08);
    /* min-height: 100vh;
    padding: 80px 20px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsorstitle{
    color: aquamarine;
    margin-top: 180px;
    margin-bottom: 60px;
    font-size:30px;
    font-weight: bold;
    font-family: "StateWide",sans-serif;
    text-shadow: rgb(230, 230, 230) 0px 0px 5px;
}
.sponsors{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 90px;
    margin-bottom: 70px;
}
.sponsors a{
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    /* outline: 1px solid lime; */
}
.img{
    width: 180px;
}
@media screen and (max-width:900px){
    .img{
        width: 60px;
    }
}